// COLORS
$nc-blue: #5185c3;

$nc-text: #6f6e6e;
$nc-copy: #6a6a6a;
$nc-plugin-background: #f9f9f9;

$black: #000000;
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$sand: #c2b280;

$black-100: rgba(0, 0, 0, 1);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-05: rgba(0, 0, 0, 0.05);

$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$white-05: rgba(255, 255, 255, 0.05);

$nc-blue-05: rgba(81, 133, 195, 0.01);
$nc-blue-10: rgba(81, 133, 195, 0.1);
$nc-blue-20: rgba(81, 133, 195, 0.2);
$nc-blue-30: rgba(81, 133, 195, 0.3);
$nc-blue-40: rgba(81, 133, 195, 0.4);
$nc-blue-50: rgba(81, 133, 195, 0.5);
$nc-blue-60: rgba(81, 133, 195, 0.6);
$nc-blue-70: rgba(81, 133, 195, 0.7);
$nc-blue-80: rgba(81, 133, 195, 0.8);
$nc-blue-90: rgba(81, 133, 195, 0.9);
$nc-blue-100: rgba(81, 133, 195, 1);
