.nc-box-shadow-generator {
  width: 100%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.nc-box-shadow-generator .nc-box-shadow-generator-code {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  margin: 20px 0;
}
.nc-box-shadow-generator .nc-box-shadow-generator-code span {
  color: #ffffff;
}
.nc-box-shadow-generator .nc-box-shadow-generator-code span.token {
  color: #96cbfe;
}
.nc-box-shadow-generator .box-shadow-element {
  width: 300px;
  height: 300px;
  background-color: rgba(81, 133, 195, 0.4);
  margin: 10px auto;
}
.nc-box-shadow-generator .calc-holder {
  overflow: hidden;
}
.nc-box-shadow-generator .calc {
  background: rgba(81, 133, 195, 0.1);
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.nc-box-shadow-generator .calc.calc-app {
  padding: 10px 25px;
}
.nc-box-shadow-generator .calc .calc-item {
  margin-bottom: 10px;
  position: relative;
}
.nc-box-shadow-generator .calc .calc-item label {
  display: block;
  margin-bottom: 10px;
}
.nc-box-shadow-generator .calc .calc-item span.calc-item-tooltip {
  top: 0;
  color: greenyellow;
  padding: 2px 7px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}
.nc-box-shadow-generator .calc .calc-item span.calc-item-tooltip:after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -2px;
  border-width: 2px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.nc-box-shadow-generator .calc .calc-item input[type="range"] {
  display: block;
}
.nc-box-shadow-generator .calc .calc-item input[type="range"][type="range"] {
  width: 100%;
}
.nc-box-shadow-generator .elem-hidden {
  display: none;
}

.menu-top .toplevel_page_nuevecubica-custom-login-page-options .wp-menu-image img {
  padding: 6px 0 0 4px !important;
}

#adminmenu .wp-menu-image img {
  padding: 4px 0 0 0px !important;
}

#nc-clp-main-page {
  background-color: #f9f9f9;
  margin: 20px 20px 20px 0px;
  padding: 20px;
  border-radius: 10px;
  color: #6f6e6e;
}
#nc-clp-main-page .img-logo {
  width: 100px;
}
#nc-clp-main-page h1, #nc-clp-main-page h2, #nc-clp-main-page h3, #nc-clp-main-page h4, #nc-clp-main-page h5, #nc-clp-main-page h6 {
  color: #6f6e6e;
}
#nc-clp-main-page h1 span, #nc-clp-main-page h2 span, #nc-clp-main-page h3 span, #nc-clp-main-page h4 span, #nc-clp-main-page h5 span, #nc-clp-main-page h6 span {
  font-size: xx-small;
}
#nc-clp-main-page p {
  color: #6f6e6e;
}
#nc-clp-main-page table.form-table {
  display: block;
  width: 100%;
  background-color: rgba(81, 133, 195, 0.1);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
#nc-clp-main-page .nc-clp-main-plugin-page select[id^="nc_clp_options_"] {
  display: block;
  width: 287px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
#nc-clp-main-page .nc-clp-main-plugin-page select[id^="nc_clp_options_"]:focus {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: 0;
}
#nc-clp-main-page .nc-clp-main-plugin-page input[type="text"][id^="nc_clp_options_"], #nc-clp-main-page .nc-clp-main-plugin-page input[type="number"][id^="nc_clp_options_"] {
  padding: 10px;
  border-radius: 10px;
  margin: 4px 0 8px 0;
  border: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
}
#nc-clp-main-page .nc-clp-main-plugin-page input[type="text"][id^="nc_clp_options_"]:hover, #nc-clp-main-page .nc-clp-main-plugin-page input[type="number"][id^="nc_clp_options_"]:hover {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  opacity: .9;
  outline: 0;
}
#nc-clp-main-page .nc-clp-main-plugin-page input[type="text"][id^="nc_clp_options_"]:focus, #nc-clp-main-page .nc-clp-main-plugin-page input[type="number"][id^="nc_clp_options_"]:focus {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  opacity: .9;
  outline: 0;
}
#nc-clp-main-page .nc-clp-main-plugin-page [id^="nc_clp_thumb_nail_"] {
  width: 243px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  border: 1px solid;
}
#nc-clp-main-page #nc-clp-form-holder .col-one {
  width: 50%;
}
#nc-clp-main-page #nc-clp-form-holder .col-one #nc-clp-form {
  position: relative;
  max-height: 450px;
  overflow: auto;
}
#nc-clp-main-page #nc-clp-form-holder .col-two {
  width: 50%;
  padding: 0 20px;
}
#nc-clp-main-page .nc-clp-page-title {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
}
#nc-clp-main-page .nc-clp-page-title span {
  font-weight: bolder;
}
#nc-clp-main-page .nc-clp-page-display {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}
#nc-clp-main-page .nc-clp-page-display .nc-clp-logo-display {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
#nc-clp-main-page .nc-clp-page-display .nc-clp-message-display {
  max-width: 300px;
  margin: 0 auto;
}
#nc-clp-main-page .nc-clp-page-display .nc-clp-form-display .wp-pwd {
  position: relative;
}
#nc-clp-main-page .nc-clp-page-display .nc-clp-form-display .wp-pwd .dashicons {
  position: absolute;
  top: 14px;
  right: 10px;
}
#nc-clp-main-page .forgetmenot {
  display: inline-block;
  float: left;
}
#nc-clp-main-page #wp-submit {
  display: inline-block;
  float: right;
}

.nc-info-support-donate-thanks {
  text-align: center;
}
.nc-info-support-donate-thanks ul {
  list-style: none;
}
.nc-info-support-donate-thanks ul li {
  padding: 0;
  display: inline-block;
}
.nc-info-support-donate-thanks ul li:after {
  content: " | ";
  width: 100%;
}
.nc-info-support-donate-thanks ul li:last-child:after {
  content: "";
}

.nc-alert {
  padding: 10px;
  color: white !important;
  display: block;
  max-width: 600px;
  font-weight: bolder;
  border-radius: 4px;
}
.nc-alert.primary {
  background-color: #5185c3;
}
.nc-alert.warning {
  background-color: #f6993f;
}
.nc-alert.danger {
  background-color: #e3342f;
}
.nc-alert.sucess {
  background-color: #38c172;
}

/*# sourceMappingURL=nuevecubica-custom-login-page_main.css.map */
